PORT=3000
BOT_TOKEN=
BACKEND_URL=https://x-cup-backend-production.up.railway.app
BACKEND_BOT_API_KEY=
PUBLIC_URL=
TX_EXPLORER_BASE_URL=https://www.okx.com/web3/explorer/xlayer/tx
EXPECTED_XLAYER_CHAIN_ID=196
EXPECTED_USDC_ADDRESS=0x74b7f16337b8972027f6196a17a631ac6de26d22
